@import "../components/colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  overflow-x: hidden;
}

body {
  color: whitesmoke;
  margin: 0;
  background-color: $gray;
  font-family: 'Poppins', sans-serif;
}

a:any-link {
  //font-family: 'Merriweather Sans Light', sans-serif;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;

  &:hover {
    background-color: rgba($orange, .75);
  }
}
