.peering-header {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;

  h1 {
    margin: 30px 0 0;
    font-size: 80px;
  }

  h3 {
    margin: 0 0 20px;
    font-size: 30px;
  }
}

.peering-body {
  max-width: 1100px;
  width: 80%;
  margin: auto;

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 16px;
  }

  li {
    font-size: 15px;
  }
}
