@import "colors.scss";

.service {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  background-color: $black;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    text-align: center;

    transition: 0.2s;
  }

  a:any-link {
    text-decoration: none;
  }

  :hover {
    background-color: $orange;
  }
}

h1 {
  font-size: 50px;
}
